@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --highlight: hsl(277, 64%, 61%);
  --primary-white: hsl(0, 0%, 100%);
  --secondary-white: hsla(0, 0%, 100%, 0.65);
  --stat-color: hsla(0, 0%, 100%, 0.6);
  --font-size: 14px;
}

body {
  font-family: "Inter";
  font-weight: 400;
  background-color: var(--primary-background);
  color: var(--primary-white);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 5% auto;
}

.text-container {
  position: relative;
  /* display: block; */
  background-color: var(--card-background);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 100%;
  width: 500px;
  height: 455px;
}

figure img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 500px;
  height: 455px;
}
figure {
  position: relative;
  flex: 50%;
}

.overlay {
  background-color: #ab5cdb;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 455px;
  opacity: 0.6;
  mix-blend-mode: multiply;
}

.text-container {
  padding: 3rem 3rem 5rem 3rem;
}

.header {
  font-size: 30px;
}

.header span.highlight {
  color: var(--highlight);
}

.header-text {
  font-size: var(--font-size);
  line-height: 1.6;
  padding-top: 4rem;
  font-weight: normal;
  padding-bottom: 2rem;
  color: var(--secondary-white);
}

.stats {
  font-family: "lexend deca";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 1.3px;
  display: flex;
  align-items: center;
  padding-top: 3rem;

  margin-bottom: 2rem;
}
.stats p {
  padding-right: 5rem;
}

.caption {
  color: var(--stat-color);
  font-weight: 400;
  font-size: 12px;
}

@media (max-width: 1020px) {
  .header {
    font-size: 25px;
  }

  .stats {
    font-size: 20px;
  }

  .caption {
    font-size: 11px;
  }

  figure img {
    width: 350px;
  }

  .overlay {
    width: 350px;
  }
}

@media (max-width: 980px) {
  .container {
    /* display: flex; */
    flex-direction: column-reverse;
    align-items: center;
    width: 75%;
    margin-top: 88px;
  }
  figure img,
  .overlay {
    width: 500px;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: -10px;
  }

  .text-container {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    text-align: center;
    height: 600px;
  }

  section.stats {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
  }

  .stat1,
  .stat2,
  .stat3 {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
  }

  section.stats p {
    text-align: center;
    align-items: center;
    font-weight: bold;
    padding-right: 0;
    padding: 0.3em;
  }
}

@media (max-width: 500px) {
  figure img,
  .overlay,
  .text-container {
    width: 350px;
    height: 650px;
  }

  .header-text {
    font-size: 15px;
    font-weight: 500;
    font-size: 14px;
  }

  .stats p {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  figure img,
  .overlay {
    height: 300px;
    width: 300px;
  }
  .text-container {
    width: 300px;
  }
}
